<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Live Volume Calculation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="p-5 bg-dark text-white text-center">
        <img src="/static/imgs/logo.jfif" alt="" height="100px" width="150px">
        <h1>Measure the Volume of Your package in Seconds...</h1>
        <p>Live Volume Meausuring system</p>
    </div>

    <nav class="navbar navbar-expand-sm bg-warning">
    </nav>
    <center>
    <form method="post" action="/home" enctype="multipart/form-data">
        <h3>Upload Images (2)</h3>
        <input type="text" name="files" required>
        <input class="upload" type="submit" value="UpLoad & Process" onclick = "$('#loading').show();">
    </form>
        <div id="loading" style="display:block;">
<!--            <img src="/static/imgs/tape-measure.gif" alt="">-->
            <h3>Top View</h3>
            <img src="{{ url_for('video') }}" width="40%"/>
            <h3>Side View</h3>
            <img src="{{ url_for('video') }}" width="40%"/>
        </div>
    </center>
        <hr>
        <div class="row">
            <!-- <div class="col-sm-6">
                <h3>Details of IMG 1</h3>
                <div class="displayImage" id="displayImage">
                    <img id="img" src="/imgs/boxM.jpg" alt="" srcset="">
                </div>
                <h2>
                    Height : 15.8cm, width : 9.1cm
                </h2>
            </div>
            <div class="col-sm-6">
                <h3>Details of IMG 2</h3>
                <div class="displayImage" id="displayImage">
                    <img id="img" src="/imgs/boxS.jpg" alt="" srcset="">
                </div>
                <h2>
                    Height : 15.4cm, width : 5.9cm
                </h2>
            </div> -->
        </div>
        <hr>
        <div class="row">
            <center>
                {% if param1 or param2 or vol %}
                <h2>Calculated Volume is {{vol}}</h2>
            </center>

            <div class="col-md-6">
                <img src="{{ url_for('static', filename = '/Uploads/' + param1) }}" width="780px" margin="10px">
            </div>
            <div class="col-md-6">
                <img src="{{ url_for('static', filename = '/Uploads/' + param2) }}" width="780px" margin="10px">
            </div>
            {% endif %}
        </div>
    </div>

    <div class="mt-5 p-4 bg-dark text-white text-center">
        <p>B.E Project, 2022/2023 AISSMS IOIT | Group 15 | Copyrights | Developed by Ishwar and Team</p>
        <img src="/static/imgs/opencv.png" alt="" height="100px" width="200px">
    </div>
</body>
</html>